In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/orders-pandas101-csv/orders.csv

Tech with Tim tutorial based notes: https://www.youtube.com/watch?v=EXIgjIBu4EU&t=125s

In [2]:
df = pd.read_csv("/kaggle/input/orders-pandas101-csv/orders.csv")

In [3]:
df.head(5)

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

In [4]:
# Pandas has 2 main components . 1. Dataframe 2.Series (meaning rows or columns)
#Series is a 1D array (labelled i..e, rather than assigning plain index numbers it also assigns labels that are intutive.)
#Dataframe is a 2D labelled array (like a spreadsheet but programmable and powerful).
#Dataframe is built on numpy backend which is a C based library. 
#It supports label based indexing. 
#Column wise and row-wise operations
#Support mixed data types
#Fast and vectorized operations.

In [5]:
data = {
    "name":"Pritam",
    "roll": [25],
    "class": [12]
}

pd.DataFrame(data)



data = {
    'Name':'Pritam',
    'roll': [25,30],
    'class': [12,35]
}

pd.DataFrame(data)

     Name  roll  class
0  Pritam    25     12
1  Pritam    30     35

Every row is given Index in a dataframe.

Data can be loaded from 3 ways. 
1. Load via csv
2. Load via excel
3. Load via dictionary values

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   CustomerName  40 non-null     object
 2   Product       40 non-null     object
 3   Category      40 non-null     object
 4   Quantity      40 non-null     int64
 5   Price         40 non-null     float64
 6   OrderDate     40 non-null     object
 7   Shipped       40 non-null     object
 8   Country       40 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ KB

Since we didn't surround the strings with double quotes in csv so they are being represented as objects in our data frame. we can change them to strings if we want.

In [7]:
df.describe()

           OrderID    Quantity        Price
count    40.000000   40.000000    40.000000
mean   1020.500000    5.450000   106.457500
std      11.690452   15.903475   201.091854
min    1001.000000    1.000000     0.800000
25%    1010.750000    1.000000    18.000000
50%    1020.500000    1.000000    43.500000
75%    1030.250000    2.250000   112.500000
max    1040.000000  100.000000  1200.000000

generate descriptive statistics.
summarizes central tendency excluding NaN values. 
Analyszes both numeric and object series as well as DataFrame column sets of mixed data types.

In [8]:
df.columns

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=40, step=1)

range of our index starts from 0 and it ends at 40 with a step of 1.

# Dataframe advantages: we can index by rows and we can also index by column.

In [10]:
df["Country"].value_counts()

Country
USA             3
South Korea     3
Japan           3
Canada          2
France          2
UAE             2
Italy           2
UK              2
Germany         2
Singapore       1
India           1
Mexico          1
Australia       1
Spain           1
Egypt           1
China           1
Poland          1
Saudi Arabia    1
Brazil          1
Pakistan        1
Sweden          1
Argentina       1
Russia          1
Morocco         1
Colombia        1
Portugal        1
Iran            1
Ukraine         1
Name: count, dtype: int64

In [11]:
#we can put multiple columns inside the index by directly providing a list of reference. 
df[["Country","CustomerName"]]

         Country      CustomerName
0            USA        John Smith
1         Canada         Sarah Lee
2            UAE          Ali Khan
3      Singapore        Alice Wong
4         Mexico     Carlos Mendez
5            UAE      Nora Ibrahim
6             UK       Emily Davis
7    South Korea        James Park
8          Italy       Maria Rossi
9          Japan  Takeshi Nakamura
10        France     Sophie Martin
11         India         Raj Patel
12     Australia       Emma Wilson
13         Spain   Diego Rodriguez
14         China         Lisa Chen
15         Egypt      Ahmed Hassan
16        Poland     Anna Kowalski
17           USA     Michael Brown
18         Japan       Yuki Tanaka
19  Saudi Arabia   Fatima Al-Zahra
20        Canada    David Thompson
21        Brazil    Isabella Silva
22       Germany    Oliver Schmidt
23      Pakistan        Zara Ahmed
24        Sweden    Lucas Anderson
25        France      Chloe Dubois
26     Argentina     Miguel Torres
27        Russia       Nina Petrov
28   South Korea      Seo-yeon Kim
29         Italy   Giuseppe Romano
30       Morocco      Amira Hassan
31       Germany     Thomas M端ller
32      Colombia   Sofia Rodriguez
33           USA      Alex Johnson
34         Japan     Yuki Yamamoto
35            UK     Emma Thompson
36      Portugal     Carlos Santos
37          Iran    Leila Mansouri
38   South Korea        Daniel Kim
39       Ukraine      Anna Ivanova

In [12]:
df["Country"] # Querying a single column returns us an Index. However, when we query multiple columns we get a dataframe in return.

0              USA
1           Canada
2              UAE
3        Singapore
4           Mexico
5              UAE
6               UK
7      South Korea
8            Italy
9            Japan
10          France
11           India
12       Australia
13           Spain
14           China
15           Egypt
16          Poland
17             USA
18           Japan
19    Saudi Arabia
20          Canada
21          Brazil
22         Germany
23        Pakistan
24          Sweden
25          France
26       Argentina
27          Russia
28     South Korea
29           Italy
30         Morocco
31         Germany
32        Colombia
33             USA
34           Japan
35              UK
36        Portugal
37            Iran
38     South Korea
39         Ukraine
Name: Country, dtype: object

In [13]:
#However if we want to access it by row then we use iloc function. e.g.
df.iloc[0] #returns all the elements present in the 0th row.  #iloc means index location.

OrderID                1001
CustomerName     John Smith
Product              Laptop
Category        Electronics
Quantity                  1
Price                1200.0
OrderDate        2024-06-01
Shipped                 Yes
Country                 USA
Name: 0, dtype: object

In [14]:
# we can convert it to list as well 
list(df.iloc[0]) # Returns a list containing elements from the 1st row.

[np.int64(1001),
 'John Smith',
 'Laptop',
 'Electronics',
 np.int64(1),
 np.float64(1200.0),
 '2024-06-01',
 'Yes',
 'USA']

In [15]:
# If we were to reference 1st row 2nd column value then 
df.iloc[0]["Country"]

'USA'

In [16]:
df[df["Category"] == "Electronics"]
#Filtering Dataframe

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco
31,1032,Thomas M端ller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea

In [21]:
#Filtering multiple things 
df[(df["Category"] == "Electronics") & (df["Quantity"] == 2)]
#Filtering Dataframe

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea